<h2>Template :Basicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()"
        #miFormulario="ngForm"
        autocomplete="off">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"
                 for="">Producto</label>
                <div class="col-sm-9">

                    <input type="text"
                    class="form-control"
                    [ngModel]="initForm.producto"
                    name="producto"
                    required
                    minlength="3"
                    
                    placeholder="Nombre del Producto">
                    <span 
                    *ngIf="nombreValido()"
                    class="form-text text-danger">
                    
                    Debe de ser de 3 letras</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"
                 for="">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                    
                    name="precio"
                    [ngModel]="initForm.precio"

                    class="form-control"
                    placeholder="Precio del Producto"
                    required
                    min="0">
                    <span 
                    *ngIf="precioValido()"
                    class="form-text text-danger">
                    
                    El precio debe ser mayor a 0</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"
                 for="">Existencia</label>
                <div class="col-sm-9">
                    <input type="number"
                    [ngModel]="initForm.existencia"

                    name="existencia"
                    customMin
                    [minimo]="0"
                    class="form-control"
                    required
                    placeholder="Existencia del Producto">
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit"
                        [disabled]="miFormulario.invalid"
                        class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{miFormulario.valid}}</pre>

        <span>Pristine</span>
        <pre>{{miFormulario.pristine}}</pre>
        <span>Touched</span>
        <pre>{{miFormulario.touched}}</pre>
        <span>Value</span>
        <pre>{{miFormulario.value|json}}</pre>
       
       
        <span>CustomDirective</span>
       
       
  <!--       <pre>{{miFormulario.controls['existencia']?.errors|json}}</pre>
    --> </div>
</div>